/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lemon&Kaisei+HarunoUmi&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Kaisei HarunoUmi", sans-serif;
    box-sizing: border-box;
}

/* General Body */
body {
    background: url("../images/jungle.webp") no-repeat center center/cover;
    font-family: "Lemon", sans-serif;

}

html {

    height: 100%;

}

p {

    font-family: "Lemon", sans-serif;
    text-align: left;
    -webkit-text-stroke: 0.5px #be945b;
    font-size: 12px;
    color:#e9ed60;
    padding-left: 10px;
    padding-right: 10px;
}

#quiz {

    text-align: center;
}

.quiz_area {
    background-color: rgba(66, 47, 37, 0.8);
    border: 2px solid #e9ed60;
    width: 90%;
    max-width: 250px;
    margin: 40px auto 0;
    border-radius: 10px;
    line-height: normal;
    padding: 20px;
  
}

#question_area_box {

    display: none;
}

.quiz_area>h1 {
    
    font-family: "Lemon", sans-serif;
    -webkit-text-stroke: 0.5px #be945b;
    border-bottom: 1px solid #be945b;
    font-size: 36px;
    color:#e9ed60;
    padding: 0 0 10px;
    margin-bottom: 20px;
 
}

.quiz_area>h2 {

    font-family: "Lemon", sans-serif;
    -webkit-text-stroke: 0.5px #be945b;
    font-size: 28px;
    color:#e9ed60;
    padding: 0 0 10px;

}

.button {
    background-color: #52843c;
    font-size: 25px;
    color: #e9ed60;
    text-shadow: 2px 2px rgb(0, 0, 0, 0.6);
    border: 2px solid #be945b;
    border-radius: 10px;
    font-family: 'Kaisei HarunoUmi', sans-serif;
    font-weight: bold;
    padding: .75rem 1.65rem;
    width: 80%;
    max-width: 250px;
    cursor: pointer;
    box-shadow: 2px 2px rgb(233, 237, 96, 0.4);
    transition: all 0.1s;
    margin: 20px 20px 0 20px;
}

.button:hover {
    transform: perspective(500px) rotateY(20deg);
    border: 5px solid #be945b;
    line-height: 2;
 }

.answerbutton {
    background:	#52843c;
    color:#e9ed60;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
    border: 1px solid #e9ed60;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;

}

.answerbutton:hover {

    background:	#e9ed60;
    color: #422f25;

}

.quiz-button>.button {
    background-color: #52843c;
    font-size: 25px;
    color: #e9ed60;
    text-shadow: 2px 2px rgb(0, 0, 0, 0.6);
    border: 2px solid #be945b;
    border-radius: 10px;
    font-family: 'Kaisei HarunoUmi', sans-serif;
    font-weight: bold;
    padding: .75rem 1.65rem;
    width: 80%;
    max-width: 250px;
    cursor: pointer;
    box-shadow: 2px 2px rgb(233, 237, 96, 0.4);
    transition: all 0.1s;
    margin: 20px 20px 0 20px;
}

.quiz-button>.button:hover {
    transform: perspective(500px) rotateY(20deg);
    border: 5px solid #be945b;
    line-height: 2;
 }

 #start_timer {

    display: none;
    margin: 0 auto 0;
    
 }

 #next-btn {

    display: none;
    margin: 0 auto 0;
 }

.rules_area {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    width: 90%;
    max-width: 760px;
    height: 90vh;
    max-height: 600px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 0px;
    position: relative;

}

.rules-p {
  
    padding-top: 0px;

}

#rules_hide {
    display: none;
}

@media screen and (min-width: 800px) {

    .quiz_area {

        max-width: 760px;
        margin: 100px auto 0;
      
    }

.quiz-button {
  
    padding-top: 60px;

}
.answerbutton {
  
    width: 40%;
}

p {

    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

#back_btn {
    
    text-align: center;
   
    z-index: 2;
}

}