/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lemon&Kaisei+HarunoUmi&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Kaisei HarunoUmi", sans-serif;
    box-sizing: border-box;
}

/* General Body */
body {
    background: url("../images/jungle.webp") no-repeat center center/cover;
    background-attachment: fixed; /* This ensures that the background image stays fixed while scrolling */
    background-size: cover; /* This makes the background image cover the entire viewport */
    font-family: "Lemon", sans-serif;
}

html {
    height: 100%;
}

p {

    font-family: "Lemon", sans-serif;
    text-align: left;
    font-size: 12px;
    color: #e9ed60;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and shadow color - stackoverflow.com*/
}

#quiz {

    text-align: center;
}

.quiz_area {
    background-color: rgba(66, 47, 37, 0.8);
    border: 2px solid #e9ed60;
    width: 90%;
    max-width: 250px;
    margin: 20px auto 20px;
    border-radius: 10px;
    line-height: normal;
    padding: 20px;
}

#question_area_box {

    display: none;

}

.quiz_area>h1 {

    font-family: "Lemon", sans-serif;
    border-bottom: 1px solid #be945b;
    font-size: 36px;
    color: #e9ed60;
    padding: 0 0 10px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and shadow color - stackoverflow.com*/
   
}

.quiz {
    padding: 20px 0;
}

h2 {

    font-family: "Lemon", sans-serif;
    font-size: 20px;
    color: #e9ed60;
    padding: 0 0 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and shadow color - stackoverflow.com*/

}

.ctrl-button {
    background-color: #52843c;
    font-size: 25px;
    color: #e9ed60;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and shadow color - stackoverflow.com*/
    border: 2px solid #be945b;
    border-radius: 10px;
    font-family: 'Kaisei HarunoUmi', sans-serif;
    font-weight: bold;
    padding: .75rem 1.65rem;
    width: 80%;
    max-width: 250px;
    cursor: pointer;
    box-shadow: 2px 2px rgb(233, 237, 96, 0.4);
    transition: all 0.1s;
    margin: 20px 20px 0 20px;
}

.ctrl-button:hover {
    transform: perspective(500px) rotateY(20deg);
    border: 5px solid #be945b;
    line-height: 2;
}

.score-button {

    background-color: #52843c;
    font-size: 16px;
    color: #e9ed60;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, and shadow color - stackoverflow.com*/
    border: 2px solid #be945b;
    border-radius: 10px;
    font-family: 'Kaisei HarunoUmi', sans-serif;
    font-weight: bold;
    padding: .75rem 1.65rem;
    width: 80%;
    max-width: 250px;
    cursor: pointer;
    box-shadow: 2px 2px rgb(233, 237, 96, 0.4);
    transition: all 0.1s;
    margin: 20px 20px 0 20px;

}

.answerbutton {
    background: #52843c;
    color: #e9ed60;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    border: 1px solid #e9ed60;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

.answerbutton:hover:not([disabled]) {

    background: #e9ed60;
    color: #422f25;
    font-size: 15px;
}

.answerbutton:disabled {
    cursor: no-drop;
}

.quiz-button>.button {
    background-color: #52843c;
    font-size: 25px;
    color: #e9ed60;
    text-shadow: 2px 2px rgb(0, 0, 0, 0.6);
    border: 2px solid #be945b;
    border-radius: 10px;
    font-family: 'Kaisei HarunoUmi', sans-serif;
    font-weight: bold;
    padding: .75rem 1.65rem;
    width: 80%;
    max-width: 250px;
    cursor: pointer;
    box-shadow: 2px 2px rgb(233, 237, 96, 0.4);
    transition: all 0.1s;
    margin: 20px 20px 0 20px;
}

.quiz-button>.button:hover {
    transform: perspective(500px) rotateY(20deg);
    border: 5px solid #be945b;
    line-height: 2;
}

#next-btn {

    display: none;
    margin: 0 auto 0;
}

#home {
    display: block;
    margin: 0 auto; /* This will center the home button horizontally */
}



.rules-p {

    padding-top: 0px;

}

#rules_box {
    display: none;
}

.correct {
    transform: rotate(-2deg);
    background: #e9ed60;
    color: #422f25;
    border: 5px solid #422f25;
    border-radius: 10px;
    line-height: 2.5;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
}

.incorrect {
    background: red;
}

/* Media query: tablets and larger (700px and up) */
@media screen and (min-width: 700px) {

    .quiz_area {

        max-width: 680px;
        margin: 100px auto 0;

    }

    h2 {

        font-size: 28px;
    }

    .quiz-button {

        padding-top: 60px;

    }

    .answerbutton {

        width: 60%;
        font-size: 20px;
        margin: 10px 0;
    }

    .score-button {

        font-size: 20px;
    }

    p {

        font-size: 16px;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }

    #back_btn {

        text-align: center;
        z-index: 2;
    }

}


@media screen and (min-width: 370px) {

    .quiz_area {

        max-width: 350px;
    }
}

@media screen and (min-width: 1024px) {

    .quiz_area {

        max-width: 760px;
    }
}

